fastapi
uvicorn
python-dotenv
PyJWT
prometheus-client
psycopg2-binary
sqlalchemy
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
boto3
python-dotenv
